* {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #333;
}

.navbar-menu {
    display: flex;
    flex-direction: row;
}

.navbar-item a,
.dd-menu a {
    color: white;
    font-size: 15px;
    font-weight: bold;
    font-family: sans-serif;
    text-decoration: none;
    padding: 20px;
    display: block;
}

.navbar-item a:hover,
.dd-menu a:hover {
    color: #333;
    background-color: white;
}

.dropdown {
    position: relative;
}

.dd-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: #333;
}

.dropdown:hover .dd-menu {
    display: flex;
}